/*VARIABLES*/


:root {
    --border-radius:5px;
    --full-width: 100%;
    --half-width: 50%;
    --margin-top: 20px;
  /* --border:1px solid red;*/
}
*::before
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Verdana', Courier, monospace;
    box-sizing: border-box;
}

html, body {
    width: var(--full-width);
    margin: 0 auto;
    padding: 3px;
    
}

img {
    max-width: var(--full-width);
    width: auto;
    height: auto;
}
img {
    max-width: 100%;
   
  } 


body {
    background: conic-gradient(from 180deg at 50% 50%, #fd9f084b 0deg, rgba(253, 160, 8, 0) 181.87deg, #fd9f084b 360deg);
    background-size: 100%;
   
 

    
    }
     
h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(0, 27, 12);
 }
 /*--------------------------------------------HEADER-------------------------------*/
 .active {
     background-color: rgba(137, 43, 226, 0.771);
     color :white;
      border-radius: var(--border-radius) ;
      border: var(--border);
 }
 .logo {
    position:relative;
    left: 80px;
    bottom: 10spx;
    z-index: 3;
    max-width: 324px;
    border: var(--border);

 }
 header {
    position:relative;
     background-image: url(Images/Header-Background.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     border-radius: var(--border-radius) ;
     max-width: 1440px;
     height: 214px;
     padding-top: 10px;
     margin-left: auto;
     margin-right: auto;
     border: var(--border);

     
 }

 header{
    color: #fff; 
    border: var(--border);
}
.squareyeslogo {
    position:absolute;
    left: px;
    z-index: 2;
    size: 100%;
    border: var(--border);
}

.Connecting{
   position: absolute;
   width: 1440px;
   height: 37px;
   left: 0px;
   top: 149px;
   background: rgba(24, 17, 82, 0.8);
   opacity: 0.8;
   z-index: 1;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border: var(--border);
   }
.connectinglovers {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    border: var(--border);
   

}
.hide{
    display:none;
    
}

/*------------------------------NAVIGATION----Mobil-------------------------*/


#menu-checkbox {
    float: right;
    border: var(--border);
}
.fas {
    position: relative;
    float: left;
    font-size: 24px;
    left: 20px;
    border: var(--border);
   
}


nav,#menu-checkbox{
    display: none;
   
}

    
    

/*------------------------------NAV OLD-------Desktop------------------------*/
nav {
   
    position: absolute;
    z-index: 3;
    border-radius: var(--border-radius);
    padding: 1px;
    grid-template-columns: 1fr;
    background-color: #25205b;
    }

nav a {
    color: rgb(254, 242, 242);
    text-decoration: none;
    padding:5px ;
    font-weight: bold;
    font-size:17px;
    z-index: 4;
    border: var(--border);
    margin: 40px;
    


}

nav a:hover { 
    text-decoration :underline;
}



.loader{
    position: fixed;
   
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(83, 226, 43, 0.069) ;
    transition: opacity 1.72s, visibility 1.75s ;
    z-index: 100;
}

.loader_hidden{
    opacity: 0;
    visibility: hidden;

}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ffffff;
    border-top-color: #744;
    border-radius: 50%;
    animation: loading 1.75s ease infinite;

}

@keyframes loading {
   from{ transform: rotate (0)
        }
        to{
            transform: rotate(1turn);
        }
}



 /*------------------------------------HERO----------------------------------*/
.HomeH2 {
    position: absolute;
    left: 135px;
    font-size:14px ;
    bottom: 18px;
    border: var(--border);
    
}

 .hero {
    background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg,
    #4a8e9d78 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d78 516.82deg);
     max-width: 100%;
     max-width: 1440px;
     height: 482px;
     margin: 20px;
     border-radius: var(--border-radius) ;
     color: rgb(62, 34, 34);
     margin-left: auto;
     margin-right: auto;
  
     position: relative;
     border: 1px solid rgba(255, 0, 255, 0.548);
     border: var(--border);
     grid-template-rows: 1fr ;
     grid-gap: 10px;
}

    

.purple {
     width: 260px;
     height: 400px;
     border-radius: var(--border-radius) ;
     border: 14px solid rgba(80, 11, 80, 0.615);
     position:absolute;
     left: 82px;
     top: 30px;
     border: var(--border);

    
}

.hero-video {
    display: flex;
    position: absolute;
    max-width: 901px;
    max-height: 440px;
    left: 416px;
    margin: 20px;
    border-radius: var(--border-radius);
    border: var(--border);
    }

  /*----------------------------------TRENDING---------------------------------*/
 .trending {
     background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg,
    #4a8e9d78 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d78 516.82deg);
     width: 1440px;
     max-width: 100%;
     height: 484px;
     left: 70px;
     top: 804px;
     border-radius: var(--border-radius) ;
    
     margin-left: auto;
     margin-right: auto; 
     color: rgb(62, 34, 34);
     align-items: center;
     display: flex;
     justify-content: space-around;
  
   
 }


 .justereHOME{
    margin: 20px;
    border-radius: var(--border-radius) ;
    border: 12px solid #699D9A;
    
   
 }

/*---------------------------------Collection---CATEGORIES------------------------*/

.equalspace {
  display: flex;
  grid-template-rows: 1fr ;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--margin-top);
  border: var(--border);
}
.overlay{
    background-color: rgba(29, 29, 29, 0.508);
    height: 100%;
    z-index: 3;
    border-radius: var(--border-radius);
}
.collections {
    background-image: url(images/Collections.jpg);
    background-color: rgba(128, 128, 128, 0.48);
    height: 170px;
    width: 715px;
    background-size: cover;
    border-radius: var(--border-radius) ;
    border: var(--border);
    
}


.categories {
    background-image: url(images/Categories.jpg);
    
    height: 170px;
    width: 715px;
    background-size: cover;
    border-radius: var(--border-radius) ;
    border: var(--border);
  
}
.h3_text{
   color: rgb(255, 249, 249);
   font-weight: bold;
   text-decoration: none;
   display: flex;
   justify-content: center;
   font-size: 35px;
   border: var(--border);
   position: relative;
   top: 58px;
 }
 .moviecontainer {
   
    background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4a8e9d79 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d79 516.82deg);
    width: 1440px;
    max-width: 100%;
    left: 70px;
    top: 331px;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
    border-radius: var(--border-radius) ;
    margin-top: var(--margin-top);
}
.list_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14rem,2fr));
    grid-gap:5px;
    margin: 2px;
}
.cardindex {
    aspect-ratio: 1 / 1;
    height: 360px;
    width: 200px;
 
}
 /*----------------------------------SUBSCRIBE-BUTTON-----------------------------*/
.flex {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-top);
    border: var(--border);
}
.full-width {
    width: 100%;
    border: var(--border);
}   


.btn {
    width: 1440px;
    border-radius: var(--border-radius) ;
    height: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border: var(--border);
  
}
.bg-red {
    background-color: rgb(2, 146, 86);
    
    
}
.bg-purp {
    background-color: rgba(108, 2, 146, 0.595);
    
    
}

.titlebtn {
    padding: 20px;
}

 /*--------------------------------------FOOTER-------------------------------------*/

.footer_list{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    font-size: 40px;
    color: #ffffff;
    border: var(--border);
    top: 87px;
    left: 1230px;

}

.footer_paragraph {
    position: absolute;
    font-size: 13px;
    left: 20px;
    top: 106px;
    padding: px;
}


 .footer {
     position:relative;
     background: #5e57af;
     width: 1440px;
     max-width: 100%;
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     margin-top: var(--margin-top);
     border-radius: var(--border-radius) ;
     color: rgb(255, 255, 255);
     border: var(--border);
}
.fa-brands, .fab {
    font-weight: 400;
    color: white;
}
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 

 .container {
   
    background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg, #4a8e9d79 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d79 516.82deg);
    width: 1440px;
    max-width: 100%;
    left: 70px;
    top: 331px;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
    border-radius: var(--border-radius) ;
    margin-top: var(--margin-top);
}
.stacked {
display: grid;
}
.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} 
.card__content{
    z-index: 10;
    background: white;
    align-self: end;
    margin:7px 10px 13px;
    padding: 10px;
    box-shadow: 5px 4px rgba(46, 48, 47, 0.374);
}
.card__title {
    font-size: 16px;
    color: #2f21c7;
}
.card__price {
    font-size: 12px;
}
.product_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14rem,2fr));
    grid-gap:5px;
    margin: 2px;
}
.card {
    aspect-ratio: 1 / 1;
    height: 360px;
    width: 200px;
 
}
.card__img{
   border: 12px solid rgb(123, 142, 131);
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
   

    
}


 


 
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 
  
 
 .Backgroundmovieset {
    background-image: url(images/Curtains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 749px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
    color: white;
    }

.Yourdetails {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 450px;
    top: 105px;
    background-color: #25205b48;
    border-radius: var(--border-radius) ;
    
 }
.form__input{  
 display: flex;
 max-width: 1440px;
 }

.btncheckout {
    position:absolute;   
    left: 851px;
    top: 303px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: var(--border-radius) ;
    
}
 

 
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 .curtains {
    background-image: url(images/Curtains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 749px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
 }
 .Aboutparagraph {
    position: absolute;
    color: #fff;
    max-width: 460px;
    top: 400px;
    left: 534px;
    z-index: 3;

 }
 .aboutus-h2 {
    position: absolute;
    color: #fff;
    max-width: 460px;
    top: 340px;
    left: 673px;
    z-index: 4;


 }

 
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 .feilset {
  position: absolute;
 }

 .curtainscontact {
    background-image: url(images/Curtains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 749px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
 }
.contact_h2{
    color: white;
    display: flex;
    justify-content: center;
}
.contact_details{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 50px;
    top: 105px;
    background-color: #25205b48;
    border-radius: var(--border-radius) ;
    color: white;  
    font-weight: bold;  
}
.contact_information{
    position: absolute;
    width: 278px;
    height: 173px;
    left: 420px;
    top: 114px;
    color: white;
    font-size: 12px;
    background: #ce3dbb71;
    border-radius: 10px;
}

.contact_info{
position: absolute;
width: 69px;
height: 13px;
left: 20px;
top: 20px;
font-weight: bold;
font-size: 15px;
line-height: 13px;

color: #FFFFFF;
}
.emailadress{
position: absolute;
width: 162px;
height: 13px;
left: 20px;
top: 106px;
font-weight: bold;
font-size: 12px;
line-height: 13px;
color: #FFFFFF;

}
.adress {
    position: absolute;
    width: 176px;
    height: 13px;
    left: 20px;
    top: 132px;

    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
}

.message_box{
    position: absolute;
    width: 278px;
    height: 173px;
    left: 720px;
    top: 114px;
    color: white;
    font-weight: bold;

    font-size: 13px;
    background: #ce3dbb71;
    border-radius: 10px;
}
.message{
    left: 40px;
    top: 22px;
    position: absolute;
}
.textarea{
    background-color: rgb(184, 182, 182);
    height: 81px;
    width: 220px;
    border-radius: 5px;
    position: absolute;
    top: 45px;
    left: 40px;

}
.send_message{
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: #25205B;
    position: absolute;
    left: 144px;
    top: 134px;
    color: white;
}

 /*-------------------------------PRODUCTPAGES-------------------*/
 /*-------------------------------PRODUCTPAGES-------------------*/
 /*-------------------------------PRODUCTPAGES-------------------*/
 /*-------------------------------PRODUCTPAGES-------------------*/

.Prod_Back_Dune {
     background-image: url(images/DUNE_BACKGROUND.jpg);
     background-size: cover;
   
    
     position: relative;
     max-width: 1440px;
     height: 820px;
     margin-left: auto;
     margin-right: auto;
     border-radius: var(--border-radius) ;
     align-items: center;
     margin-top: var(--margin-top);

}
.Prod_Back_scream {
    background-image: url(images/Screambackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
}
.Prod_Back_aliens {
    background-image: url(images/Aliens-Background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
    z-index: 0;
}
.Prod_Back_once {
    background-image: url(images/Once_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
}
.Prod_Back_Enter_the_void{
    background-image: url(images/Enter_the_void.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
}
.Prod_Back_Force_majeure{
    background-image: url(images/Force_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
}
.Prod_Back_Ratatouille {
    background-image: url(Images/Ratatouille-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);

}
.Prod_Back_toy_story4{
    background-image: url(Images/Toy_story4_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);

}
.Prod_Back_Eyes_Wide_Shut{
    background-image: url(Images/Eyes_wide_shut_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);

}
.Prod_Back_One_Flew {
    background-image: url(Images/One_Flew_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
}
.Prod_Back_Batman {
    background-image: url(Images/Batman_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);

}
.Prod_Back_No_Country {
    background-image: url(Images/No_country_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);


}
.Prod_Back_Purple_Rain {
    background-image: url(Images/PurpleRainBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius) ;
    align-items: center;
    margin-top: var(--margin-top);
    
}
.DUNEPICture {
    position: absolute;
    left: 50px;
    top: 80px;
   
}
.product-img {
    height: 360px;
    width: 260px;
    border: 12px solid #699D9A;
    border-radius: var(--border-radius);

}


.purchase {
    position:absolute;   
    left: 330px;
    top: 400px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
}
 .Synopsis {
    position: relative;
    max-width: 300px;
    color: #fff;
    left: 330px;
    top:110px;
    background-color: #252424df;
    border-radius: var(--border-radius);
    padding: 5px;
 }
.Backbtn{
    position: absolute;
    color: white;
    font-weight: bold;
    padding:5px;
    background-color: #80808094;
    border-radius: 5px;
    left: 10px;
    top: 10px;
}




 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/


.PurchaseSuccess {
    background-image: url(images/Curtains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 749px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
    color: white;


}
.Successbutton {
    position: absolute;
    left: 660px
;
    top: 410px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(98, 163, 0);
    border: 2px black;
}

.PurchaseSuccessbtn {
    position: absolute;
    left: 595px;
    top: 265px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 30px 60px;
    border-radius: 5px;
    background-color: rgb(18, 150, 0);
    border: 2px black;
}

.Success {
    position: relative;
}



/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/

.under-constructiom-images {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: var(--margin-top);


}
.under-construction-text {
    position:absolute;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  left: 500px;
 bottom: 400px; ;
}
.main_collections {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-top: var(--margin-top);
    }
    .collections_construction {
        background-image: url(images/Collections.jpg);
        background-size:cover ;
    }

/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/

@media (max-width: 1301px){
    nav a {
        margin: 10px;
    }
}

@media (max-width: 1218px){
    .hero-video {
        max-width: 614px;
        max-height: 300px;
       }
    }


@media (max-width: 968px){
    .hero-video {
       
        max-width: 514px;
        max-height: 250px;
      
        }
          .fas {
        position: relative;
        float: left;
        font-size: 24px;
        left: 20px;
        border: var(--border);
  
    
    }
    }
  
 
    /*------------------900PX-down---------------------------*/
@media (max-width: 900px) {
  
    .logo {
        max-width: 224px;
    }
        .h3_text{
        font-size: 20px;
 
    }
      .hero-video {
        display: none;
    }
    .card {
     
        height: 300px;
        width: 200px;
    }
    .Prod_Back_Dune {
        background-image: url(images/DUNE\ BACKGROUND.png);
        background-repeat: no-repeat;
    }
    .Yourdetails {
        position: absolute;
        -content: nter;
        align-content: er;
        display: flex;
        flex-wrap: wrap;
        left: 199px;
        top: 105px;
        background-color: #205b2300;
        border-radius: var(--border-radius);
    }
    .btncheckout {
        position: absolute;
        left: 220px;
        top: 700px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        padding: 10px;
        border-radius: var(--border-radius);
    }
} 
@media (max-width: 905px) {
    .aboutus-h2 {
        top: 218px;
        left:  133px;
       
    }
    .Aboutparagraph {
        position: absolute;
        color: #fff;
        max-width: 460px;
        top: 273px;
        left: 24px;
        z-index: 3;
        margin: 15px;
    }
}  

  @media (min-width: 906px) {
        nav {
        display: flex;
        position: absolute;
        z-index: 3;
        border-radius: var(--border-radius);
  
        background-color: #25205b00;
        opacity: 0.9;
        top: 88px;
        left: 476px;
        
        
    }
    .fas {
        position: relative;
        float: left;
        font-size: 24px;
        left: 20px;
        border: var(--border);
        display: none;
    
    }
}
/*-----------------------------900px-DOWN-----------------------------*/
@media (max-width: 900px){
    nav{
    bottom:0px;
   
    }
    nav a{
        display: block;
    }

    #menu-checkbox {
        float: right;
        border: var(--border);
    }
    .fas {
        position: relative;
        float: left;
        font-size: 24px;
        left: 20px;
        border: var(--border);
      
    }
    
    #menu-checkbox:checked ~ nav {
        display: block;
        
    }
    nav,#menu-checkbox{
        display: none;
       
    }
    
        
        
.curtains {
        background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .curtainscontact {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
            background-size:cover;
        }
        .contact_details{
            position: absolute;
    
            left: 160px;
            top: 105px;
            background-color: #5f5e68;
            border-radius: var(--border-radius) ;
            color: white;   
            max-width: 170px;
        }
        .message_box {
            position: absolute;
            width: 278px;
            height: 173px;
            left: 66px;
            top: 636px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            background: #ce3dbb87;
            border-radius: 10px;
        }

        .Prod_Back_Dune {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
            background-size:cover;
        }
        .Prod_Back_scream {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_scream {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_once {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_Force_majeure{
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_Enter_the_void{
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_Ratatouille {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_toy_story4{
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_Eyes_Wide_Shut{
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_One_Flew {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_Batman {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_No_Country {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_Purple_Rain {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .Prod_Back_aliens {
            background-image: url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
        }
        .DUNEPICture {
         position: absolute;
         left: 30px;
         top: 380px;
        }

        .purchase {
            position:absolute;   
            left: 250px;
            top: 650px;
        }
         
        .Synopsis {
        
            left: 30px;
            top:90px
         }
         .product-img {
            height: 310px;
            width: 210px;}

        .contact_information {
                left: 66px;
                top: 444px;
           
            }

        .PurchaseSuccessbtn {
                position: absolute;
                left: 67px;
                top: 224px;
            }

        .Successbutton {
                    position: absolute;
                    left: 131px;
                    top: 360px;
                }
        .PurchaseSuccess {
                        background-image:  url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
            }
}



